body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px;
}

.navbar{
    background-color: #091954;
}
.navbar-nav .nav-link{
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #99C5F2;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5); /* Optional: Make the border color white */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75); /* Add white outline on hover/focus */
}

.btn-white {
    background-color: #374B8C;
    color: white;
    border: 1px solid #DDE1F0;
    border-radius: 12px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* transition: background-color 0.3s ease; */
}

.btn-white:hover {
    background-color: #99C5F2;
    transition: background-color 0.3s ease;
    border: 1px solid #DDE1F0;
}

.btn-lightblue {
    background-color: #99c5f2;
    color: black;
    border: 1px solid #dde1f0;
    border-radius: 12px;
    /* padding: 5px 10px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* transition: background-color 0.3s ease; */
}

.btn-lightblue:hover {
    background-color: #091954;
    transition: background-color 0.3s ease;
    color: white;
    border: 1px solid #dde1f0;
}

.btn-darkblue {
    background-color: #091954;
    color: white;
    border: 1px solid #DDE1F0;
    border-radius: 12px;
    /* padding: 5px 10px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* transition: background-color 0.3s ease; */
}

.btn-darkblue:hover {
    background-color: #99C5F2;
    transition: background-color 0.3s ease;
    border: 1px solid #DDE1F0;
}

.btn-red {
    background-color: red;
    color: white;
    border: 1px solid #DDE1F0;
    border-radius: 12px;
    /* padding: 10px 10px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* transition: background-color 0.3s ease; */
}

.btn-red:hover {
    background-color: red;
    transition: background-color 0.3s ease;
    border: 1px solid #DDE1F0;
}

.btn-green {
    background-color: green;
    color: white;
    border: 1px solid #DDE1F0;
    border-radius: 12px;
    /* padding: 10px 10px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* transition: background-color 0.3s ease; */
}

.btn-green:hover {
    background-color: green;
    transition: background-color 0.3s ease;
    border: 1px solid #DDE1F0;
}

.bg-blue {
    background-color: #99C5F280; /* 0.5 sets the opacity to 50% */
}

/* public/css/style.css */

#home {
    position: relative;
    background-image: url('/images/landing.jpg'); /* Background image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    padding: 100px 0;
    color: white;
    overflow: hidden; /* Ensures the overlay covers the entire area */
}

/* Full overlay */
#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay color with 50% opacity */
    z-index: 1; /* Positions overlay below text */
}

/* Ensure container content is above the overlay */
#home .container {
    position: relative;
    z-index: 2; /* Brings text and other content above the overlay */
    padding: 100px;
}


h1, p {
    margin: 0;
}

#product {
    position: relative;
    background-image: url('/images/landing1.jpg'); /* Background image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
    padding: 100px 0;
    color: white;
    overflow: hidden; /* Ensures the overlay covers the entire area */
}

/* Full overlay */
#product::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay color with 50% opacity */
    z-index: 1; /* Positions overlay below text */
}

/* Ensure container content is above the overlay */
#product .container {
    position: relative;
    z-index: 2; /* Brings text and other content above the overlay */
    padding: 100px;
}


h1, p {
    margin: 0;
}


#about{
    padding-top: 80px;
    padding-bottom: 100px;
}

#services{
    padding-top: 80px;
    padding-bottom: 100px;
}

#team{
    padding-top: 80px;
    padding-bottom: 100px;
}

#contact{
    padding-top: 80px;
    padding-bottom: 100px;
}


.lead {
    font-size: 1.2rem;
}

.card-body h5 {
    font-weight: bold;
}

.custom-card {
    border-radius: 15px; /* Adjust the value as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, and color */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
}

.square-card {
    position: relative;
    width: 100%;
    padding-top: 80%;
    overflow: hidden;
    border-radius: 15px; /* Adjust the value as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, and color */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
}

.square-card .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    max-width: 80%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the card-body */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.square-card i {
    font-size: 3rem; /* Adjust size as needed */
}

ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
}

li {
    /* font-weight: bold; Make text bold */
    margin-bottom: 15px; /* Add space between list items */
    /* display: flex; */
    /* align-items: center; */
}

li i {
    margin-right: 10px; /* Space between icon and text */
}

@media (max-width: 576px) {
    .backblue {
        padding: 15px;
    }
}


.backblue {
    background-color: #C6DDF6;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 150px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
}

.create-account {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.create-account a {
    color: #007bff;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}

/* FOOTER */
.footer {
    background-color: #091954;
    color: white;
    padding: 20px 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer .footer-nav a {
    margin-bottom: 10px;
    display: block;
}
.footer .social-icons a {
    margin-right: 15px;
    font-size: 1.5em;
}
.footer .footer-bottom {
    border-top: 1px solid #DDE1F0;
    padding-top: 15px;
    margin-top: 20px;
}
.footer-logo {
    font-weight: bold;
    font-size: 1.2em;
}

/* CARD PRODUCT PAGE */
.card {
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    height: 200px;
    object-fit: cover;
}

.pagination {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-item .page-link {
    padding: 10px 15px;
    border: 1px solid #ddd;
}


