body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px;
}

.navbar{
    background-color: #091954;
}
.navbar-nav .nav-link{
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #99C5F2;
}

.btn-white {
    background-color: #374B8C;
    color: white;
    border: 1px solid #DDE1F0;
    border-radius: 12px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* transition: background-color 0.3s ease; */
}

.btn-white:hover {
    background-color: #99C5F2;
    transition: background-color 0.3s ease;
    border: 1px solid #DDE1F0;
}

.btn-darkblue {
    background-color: #091954;
    color: white;
    border: 1px solid #DDE1F0;
    border-radius: 12px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* transition: background-color 0.3s ease; */
}

.btn-darkblue:hover {
    background-color: #99C5F2;
    transition: background-color 0.3s ease;
    border: 1px solid #DDE1F0;
}

#home {
    background: url('images/Landing.png') no-repeat center center;
    background-size: cover;
    position: relative;
    color: white;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
    z-index: 1;
}

#home .container {
    position: relative;
    z-index: 2;
}

#about{
    padding-top: 80px;
    padding-bottom: 100px;
}

#services{
    padding-top: 80px;
    padding-bottom: 100px;
}

#team{
    padding-top: 80px;
    padding-bottom: 100px;
}

#contact{
    padding-top: 80px;
    padding-bottom: 100px;
}


.lead {
    font-size: 1.2rem;
}

.card-body h5 {
    font-weight: bold;
}

.custom-card {
    border-radius: 15px; /* Adjust the value as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, and color */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
}

.square-card {
    position: relative;
    width: 100%;
    padding-top: 80%;
    overflow: hidden;
    border-radius: 15px; /* Adjust the value as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, and color */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
}

.square-card .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    max-width: 80%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the card-body */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.square-card i {
    font-size: 3rem; /* Adjust size as needed */
}

ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
}

li {
    /* font-weight: bold; Make text bold */
    margin-bottom: 15px; /* Add space between list items */
    /* display: flex; */
    /* align-items: center; */
}

li i {
    margin-right: 10px; /* Space between icon and text */
}

/* footer {
    background-color: #091954;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
} */


/* FOOTER */
.footer {
    background-color: #091954;
    color: white;
    padding: 20px 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer .footer-nav a {
    margin-bottom: 10px;
    display: block;
}
.footer .social-icons a {
    margin-right: 15px;
    font-size: 1.5em;
}
.footer .footer-bottom {
    border-top: 1px solid #DDE1F0;
    padding-top: 15px;
    margin-top: 20px;
}
.footer-logo {
    font-weight: bold;
    font-size: 1.2em;
}
